<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Chính sách bảo hành sản phẩm của A&T Medical</title>
</head>

<body>
    <header class="header">

    </header>
    <main class="main">
        <section class="chinhsach">
            <div class="chinhsach-ctn">
                <div class="chinhsach-content sc-pd">
                    <div class="chinhsach-left">
                        <div class="chinhsach-left-inner sticky">
                            <a class="chinhsach-btn active" href="#">
                                <img src="./assets/images/chinhsach/icon-baohanh.png" alt="">
                                <span class="chinhsach-text">Bảo hành sản phẩm</span>
                            </a>
                            <a class="chinhsach-btn" href="#">
                                <img src="./assets/images/chinhsach/icon-vanchuyen.png" alt="">
                                <span class="chinhsach-text">Vận chuyển</span>
                            </a>
                            <a class="chinhsach-btn" href="#">
                                <img src="./assets/images/chinhsach/icon-baomat.png" alt="">
                                <span class="chinhsach-text">Bảo mật thông tin</span>
                            </a>
                            <a class="chinhsach-btn" href="#">
                                <img src="./assets/images/chinhsach/icon-doitra.png" alt="">
                                <span class="chinhsach-text">Đổi trả sản phẩm</span>
                            </a>
                        </div>
                    </div>

                    <div class="chinhsach-right">
                        <h3>Chính sách bảo hành sản phẩm của A&T Medical</h3>
                        <p class="chinhsach-details">Các sản phẩm A&T Medicalđược bảo hành 24 tháng kể từ ngày mua đầu tiên. Quý khách vui lòng tham khảo điều khoản và điều kiện bảo hành A&T Medical dành cho từng sản phẩm cụ thể dưới đây:</p>
                        <h3>Điều kiện áp dụng bảo hành A&T Medical</h3>
                        <p class="chinhsach-details">
                            1. Áp dụng cho sản phẩm mới mua, thời gian bảo hành tính từ ngày mua đầu tiên của sản phẩm và không được gia hạn nếu sản phẩm được bán hoặc sang nhượng cho khách hàng khác.
                            <br><br>2. Khách hàng sẽ được đổi sản phẩm trong vòng 30 ngày kể từ ngày mua, nếu xảy ra lỗi kỹ thuật và có sự xác nhận của Kỹ thuật viên hoặc đại diện ủy quyền của A&T Medical Không áp dụng nếu sản phẩm được sử dụng trong cơ sở kinh doanh, thương mại
                            <br><br>3. Nếu sản phẩm được sử dụng trong cơ sở kinh doanh thương mại (công ty, nhà hàng, khách sạn, tiệm uốc tóc, căn hộ dịch vụ v.v..) ngoài mục đích dùng cho hộ gia đình, thời hạn bảo hành sẽ là 06 tháng kể từ ngày mua hàng. Dịch vụ bảo hành chỉ được áp dụng cho các sản phẩm được lắp đặt và sử dụng trong khu vực đất liền, không áp dụng cho sản phẩm sử dụng trên tàu/thuyền.
                            <br><br>4. Trong trường hợp sản phẩm được đặt ở vị trí phức tạp, nguy hiểm khó tiếp cận, đòi hỏi phải có thêm công cụ và nhân lực, Quý khách vui lòng thanh toán chi phí phát sinh liên quan, áp dụng cho cả sản phẩm còn trong thời hạn bảo hành.
                        </p>
                        <h3>Các trường hợp không được bảo hành:</h3>
                        <p class="chinhsach-details">1. Dịch vụ kiểm tra hoặc bảo trì bảo dưỡng sản phẩm định kỳ.
                            <br><br>2. Phụ kiện đi kèm sản phẩm (mặt kính, linh kiện bằng nhựa / cao su hoặc các linh kiện hao mòn tự nhiên trong quá trình hoạt động).
                            <br><br>3. Sản phẩm hỏng do lắp đặt sai, không hoàn chỉnh hoặc không tuân theo hướng dẫn sử dụng đi kèm sản phẩm.
                            <br><br>4. Sản phẩm bị hư hỏng trong quá trình vận chuyển hoặc bảo / lưu kho không đúng cách.
                            <br><br>5. Sản phẩm hỏng do tại nạn, do sử dụng sai mục đích so với hướng dẫn sử dụng, hoặc do khách hàng tự ý sữa chữa / thay đổi cấu trúc.
                            <br><br>6. Sản phẩm hỏng do rủi ro bất khả kháng như thiên tai, biến đổi môi trường hoặc xảy ra sự cố chiến tranh, dịch bệnh v.vv
                            <br><br>7. Sản phẩm hỏng do nguồn điện không ổn định, hoặc dao động quá mức cho phép : 220V ± 10V
                            <br><br>8. Số serial trên sản phẩm bị thay đổi tẩy xóa hoặc gỡ bỏ.
                            <br><br>9. Sản phẩm có côn trùng hay sâu bọ xâm nhập (chuột, gián, kiến v.v ...)
                            <br><br>10. Sản phẩm được tự ý sửa chữa mà không có đồng ý bằng văn bản từ A&T Medical hoặc được sửa chữa bởi bất cứ ai khác ngoài kỹ thuật viên hoặc đại diện được ủy quyền của A&T Medical được phép cung cấp thông tin khách hàng cho đối tác ủy quyền để thực hiện công tác sửa chữa bảo hành.</p>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
    <footer class="footer">

    </footer>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>