<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Chi tiết bài viết</title>
</head>

<body>
    <header class="header">
        <div class="header-wrap">
            <div class="header-flex">
                <div class="header-logo">
                    <a href="" class="custom-logo-link">
                        <img src="./assets/images/logo.png" alt="">
                    </a>
                </div>
                <div class="header-nav">
                    <div class="menu-nav">
                        <ul class="menu-list">
                            <li class="menu-item current-menu-item">
                                <a href="" class="menu-link">
                                    Về chúng tôi
                                </a>
                            </li>
                            <li class="menu-item dropdown">
                                <a href="" class="menu-link">
                                    Sản phẩm
                                </a>
                                <ul class="menu-list">
                                    <li class="menu-item current-menu-item">
                                        <a href="" class="menu-link">
                                            Sản phẩm
                                        </a>
                                    </li>
                                    <li class="menu-item dropdown">
                                        <a href="" class="menu-link">
                                            Sản phẩm
                                        </a>
                                        <ul class="menu-list">
                                            <li class="menu-item">
                                                <a href="" class="menu-link">
                                                    Sản phẩm
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="" class="menu-link">
                                                    Sản phẩm
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="" class="menu-link">
                                                    Sản phẩm
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="" class="menu-link">
                                                    Sản phẩm
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="" class="menu-link">
                                                    Sản phẩm
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Sản phẩm
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Sản phẩm
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Sản phẩm
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                    Tuyển dụng
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                    Tin tức
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                    Liên hệ
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                    Chính sách
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-action">
                    <span class="header-it header-srch popup-open" data-popup="search">
                        <img src="./assets/images/ic-search.svg" alt="">
                    </span>
                    <a href="" class="header-ph">
                        <span class="ic">
                            <img src="./assets/images/ic-hotline.svg" alt="">
                        </span>
                        <span class="txt">
                            <span class="name">Hotline</span>
                            <span class="val">
                                093.866.3308
                            </span>
                        </span>
                    </a>
                    <div class="burger">
                        <div class="hamburger" id="hamburger">
                            <svg class="ham" viewBox="0 0 100 100" width="30">
                                <path class="line top"
                                    d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40">
                                </path>
                                <path class="line middle" d="m 30,50 h 40"></path>
                                <path class="line bottom"
                                    d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-overlay"></div>
        <div class="mobile">
            <div class="mobile-con">
                <div class="mobile-wr">
                    <div class="mobile-nav">
                        <div class="menu-nav">
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Về chúng tôi
                                    </a>
                                </li>
                                <li class="menu-item dropdown">
                                    <a href="" class="menu-link">
                                        Sản phẩm
                                    </a>
                                    <ul class="menu-list">
                                        <li class="menu-item dropdown">
                                            <a href="" class="menu-link">
                                                Sản phẩm 1
                                            </a>
                                            <ul class="menu-list">
                                                <li class="menu-item">
                                                    <a href="" class="menu-link">
                                                        Sản phẩm 1
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="" class="menu-link">
                                                        Sản phẩm 1
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="" class="menu-link">
                                                Sản phẩm 1
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Tuyển dụng
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Tin tức
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Liên hệ
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Chính sách
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mobile-content">
                        <div class="mobile-content-bl">
                            <p class="tt">
                                Mạng xã hội
                            </p>
                            <div class="mobile-content-sc">
                                <a href="" class="link">
                                    <img src="./assets/images/ic-fb.svg" alt="">
                                </a>
                                <a href="" class="link">
                                    <img src="./assets/images/ic-yt.svg" alt="">
                                </a>
                                <a href="" class="link">
                                    <img src="./assets/images/ic-tw.svg" alt="">
                                </a>
                                <a href="" class="link">
                                    <img src="./assets/images/ic-ins.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="mobile-content-bl">
                            <p class="tt">
                                Thông tin
                            </p>
                            <div class="mobile-fl mb-8s">
                                <span class="title">
                                    <img src="./assets/images/ic-pin.svg" alt="">

                                </span>
                                <p class="mobile-text mobile-link">
                                    985/19 Âu Cơ, P. Tân Sơn Nhì, Q.Tân Phú, TP HCM
                                </p>
                            </div>
                            <div class="mobile-fl mb-8s">
                                <span class="title">
                                    <img src="./assets/images/ic-ph.svg" alt="">

                                </span>
                                <a href="" class="mobile-text mobile-link">
                                    0948 818 159
                                </a>
                            </div>
                            <div class="mobile-fl mb-8s">
                                <span class="title">
                                    <img src="./assets/images/ic-mail.svg" alt="">

                                </span>
                                <a href="" class="mobile-text mobile-link">
                                    atmedical242@gmail.com
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-mxh">
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/ic-fb.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/ic-tiktok.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/ic-yt.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/ic-zalo.svg" alt="">
                </a>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="f-breadcrumb">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item">
                            <a href="" class="breadcrumb-link">
                                Home
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="breadcrumb-link">
                                Tin tức
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <section class="chitiet-baiviet sc-pdb">
            <div class="container">
                <div class="chitiet-baiviet-inner">
                    <div class="chitiet-baiviet-left">
                        <div class="chitiet-baiviet-content">
                            <h2>Binary Premium - Tiên phong ứng dụng Công nghệ 5.0 trong nâng cao miễn dịch toàn diện</h2>
                            <div class="author">
                                <div class="author-datetime">09 Sep 2021</div>
                                <div class="author-dot"></div>
                                <div class="author-name">by<span class="bold"> Admin</span></div>
                            </div>
                            <div class="chitiet-baiviet-left-img">
                                <img src="./assets/images/chitiet-baiviet/Img.jpg" alt="">
                            </div>
                            
                            <p>Công nghệ triệt lông Diode là một phương pháp triệt lông bằng cách sử dụng tia laser có bước sóng từ 800nm đến 810nm. Đây là công nghệ được sử dụng rộng rãi trong các trung tâm làm đẹp, spa, phòng khám da liễu để loại bỏ tế bào tóc trên da.</p>
                            <h4>Công nghệ triệt lông Diode là gì?</h4>
                            <p>Công nghệ triệt lông Diode là một phương pháp triệt lông bằng cách sử dụng tia laser có bước sóng từ 800nm đến 810nm. Đây là công nghệ được sử dụng rộng rãi trong các trung tâm làm đẹp, spa, phòng khám da liễu để loại bỏ tế bào tóc trên da.</p>
                            
                            <div class="chitiet-baiviet-left-img">
                                <img src="./assets/images/chitiet-baiviet/image22.jpg" alt="">
                            </div>
        
                            <h4>Công nghệ Diode Lase ứng dụng trong điều trị gì?</h4>
                            <p>Công nghệ Diode Laser chủ yếu được sử dụng để triệt lông và làm đẹp da. Trong đó nó giúp loại bỏ tế bào tóc và điều trị một số vấn đề da. Công nghệ Diode Laser là một công nghệ hiệu quả và an toàn. Được sử dụng rộng rãi trong ngành thẩm mỹ và chăm sóc sức khỏe.</p>
        
                            <h4>Đánh giá</h4>
                            <p>Công nghệ Diode Laser là một trong những phương pháp triệt lông an toàn và hiệu quả nhất hiện nay. Được sử dụng rộng rãi trong các trung tâm làm đẹp, phòng khám da liễu, và các cơ sở chăm sóc sắc đẹp khác. Nó cũng được sử dụng để điều trị một số vấn đề da như nám, nếp nhăn, vết rạn da, vết thâm, và mụn. <span class="text-highlight">A&T Medical</span> là một công ty hàng đầu trong lĩnh vực phân phối các thiết bị sử dụng công nghệ Diode Laser. </p>
                            <p> Với đội ngũ chuyên gia giàu kinh nghiệm và sự cam kết về chất lượng. Các sản phẩm của chúng tôi được thiết kế để mang lại hiệu quả cao. Đáp ứng nhu cầu đa dạng của khách hàng. Chúng tôi cung cấp các sản phẩm máy diode laser chuyên dụng cho việc triệt lông.</p>
        
        
                            <div class="share-social">
                                <div class="share-text">Chia sẻ:</div>
                                <a href="" class="social-link">
                                    <img src="./assets/images/ic-fb.svg" alt="">
                                </a>
                                <a href="" class="social-link">
                                    <img src="./assets/images/ic-tw.svg" alt="">
                                </a>
                                <a href="" class="social-link">
                                    <img src="./assets/images/ic-ins.svg" alt="">
                                </a>
                            </div>

                            <div class="x-line"></div>

                            <div class="baivietlienquan sc-pdt">
                                <h3>Bài viết liên quan</h3>
                                
                                <div class="baivietlienquan-post">
                                    <div class="baivietlienquan-img">
                                        <img src="./assets/images/chitiet-baiviet/Thumbnail-1.jpg" alt="Thumbnail-1">
                                    </div>
                                    <div class="baivietlienquan-text">
                                        <h4>Triệt lông công nghệ ipl có tốt không?</h4>
                                        <div class="author">
                                            <div class="author-datetime">09 Sep 2021</div>
                                            <div class="author-dot"></div>
                                            <div class="author-name">by<span class="bold"> Admin</span></div>
                                        </div>
                                        <p class="baivietlienquan-preview">Triệt lông công nghệ ipl có tốt không? Triệt lông công nghệ IPL hiệu quả và được sử dụng rộng rãi trong ngành thẩm mỹ.</p>
                                    </div>
                                    <a href="#"></a>
                                </div>
                                <div class="baivietlienquan-post">
                                    <div class="baivietlienquan-img">
                                        <img src="./assets/images/chitiet-baiviet/Thumbnail-2.jpg" alt="Thumbnail-2">
                                    </div>
                                    <div class="baivietlienquan-text">
                                        <h4>Triệt lông công nghệ ipl có tốt không?</h4>
                                        <div class="author">
                                            <div class="author-datetime">09 Sep 2021</div>
                                            <div class="author-dot"></div>
                                            <div class="author-name">by<span class="bold"> Admin</span></div>
                                        </div>
                                        <p class="baivietlienquan-preview">Triệt lông công nghệ ipl có tốt không? Triệt lông công nghệ IPL hiệu quả và được sử dụng rộng rãi trong ngành thẩm mỹ.</p>
                                    </div>
                                    <a href="#"></a>
                                </div>
                                <div class="baivietlienquan-post">
                                    <div class="baivietlienquan-img">
                                        <img src="./assets/images/chitiet-baiviet/Thumbnail-3.jpg" alt="Thumbnail-1">
                                    </div>
                                    <div class="baivietlienquan-text">
                                        <h4>Triệt lông công nghệ ipl có tốt không?</h4>
                                        <div class="author">
                                            <div class="author-datetime">09 Sep 2021</div>
                                            <div class="author-dot"></div>
                                            <div class="author-name">by<span class="bold"> Admin</span></div>
                                        </div>
                                        <p class="baivietlienquan-preview">Triệt lông công nghệ ipl có tốt không? Triệt lông công nghệ IPL hiệu quả và được sử dụng rộng rãi trong ngành thẩm mỹ.</p>
                                    </div>
                                    <a href="#"></a>
                                </div>
                                <div class="baivietlienquan-post">
                                    <div class="baivietlienquan-img">
                                        <img src="./assets/images/chitiet-baiviet/Thumbnail-4.jpg" alt="Thumbnail-1">
                                    </div>
                                    <div class="baivietlienquan-text">
                                        <h4>Triệt lông công nghệ ipl có tốt không?</h4>
                                        <div class="author">
                                            <div class="author-datetime">09 Sep 2021</div>
                                            <div class="author-dot"></div>
                                            <div class="author-name">by<span class="bold"> Admin</span></div>
                                        </div>
                                        <p class="baivietlienquan-preview">Triệt lông công nghệ ipl có tốt không? Triệt lông công nghệ IPL hiệu quả và được sử dụng rộng rãi trong ngành thẩm mỹ.</p>
                                    </div>
                                    <a href="#"></a>
                                </div>
                                <div class="baivietlienquan-post">
                                    <div class="baivietlienquan-img">
                                        <img src="./assets/images/chitiet-baiviet/Thumbnail-5.jpg" alt="Thumbnail-1">
                                    </div>
                                    <div class="baivietlienquan-text">
                                        <h4>Triệt lông công nghệ ipl có tốt không?</h4>
                                        <div class="author">
                                            <div class="author-datetime">09 Sep 2021</div>
                                            <div class="author-dot"></div>
                                            <div class="author-name">by<span class="bold"> Admin</span></div>
                                        </div>
                                        <p class="baivietlienquan-preview">Triệt lông công nghệ ipl có tốt không? Triệt lông công nghệ IPL hiệu quả và được sử dụng rộng rãi trong ngành thẩm mỹ.</p>
                                    </div>
                                    <a href="#"></a>
                                </div>

                            </div>

                            <ul class="page-numbers">
                                <li>
                                    <a href="" class="prev page-numbers">
                                        <img src="./assets/images/chev-l.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <span class="page-numbers current">1</span>
                                </li>
                                <li>
                                    <a href="" class="page-numbers">2</a>
                                </li>
                                <li>
                                    <a href="" class="page-numbers">3</a>
                                </li>
                                <li>
                                    <a href="" class="next page-numbers">
                                        <img src="./assets/images/chev-r.svg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="chitiet-baiviet-right">
                        <div class="cohoinghenghiep sc-pdb">
                            <div class="cohoinghenghiep-heading">Cơ hội nghề nghiệp</div>
                            <div class="cohoinghenghiep-post">
                                <div class="cohoinghenghiep-img">
                                    <img src="./assets/images/chitiet-baiviet/Rectangle3463904-1.jpg" alt="Rectangle3463904-1">
                                </div>
                                <div class="cohoinghenghiep-title">NHân viên tiếp thị sản phẩm</div>
                                <a href="#"></a>
                            </div>
                            <div class="cohoinghenghiep-post">
                                <div class="cohoinghenghiep-img">
                                    <img src="./assets/images/chitiet-baiviet/Rectangle3463904-2.jpg" alt="Rectangle3463904-1">
                                </div>
                                <div class="cohoinghenghiep-title">NHân viên chăm sóc khách hàng</div>
                                <a href="#"></a>
                            </div>
                            <div class="cohoinghenghiep-post">
                                <div class="cohoinghenghiep-img">
                                    <img src="./assets/images/chitiet-baiviet/Rectangle3463904-3.jpg" alt="Rectangle3463904-1">
                                </div>
                                <div class="cohoinghenghiep-title">Giám đốc khối kinh doanh</div>
                                <a href="#"></a>
                            </div>
                            <div class="cohoinghenghiep-post">
                                <div class="cohoinghenghiep-img">
                                    <img src="./assets/images/chitiet-baiviet/Rectangle3463904-4.jpg" alt="Rectangle3463904-1">
                                </div>
                                <div class="cohoinghenghiep-title">Trường phòng nghiên cứu thị trường mới</div>
                                <a href="#"></a>
                            </div>
                            <div class="cohoinghenghiep-post">
                                <div class="cohoinghenghiep-img">
                                    <img src="./assets/images/chitiet-baiviet/Rectangle3463904-5.jpg" alt="Rectangle3463904-1">
                                </div>
                                <div class="cohoinghenghiep-title">Nhân viên thời vụ bán sản phẩm</div>
                                <a href="#"></a>
                            </div>
                        </div>

                        <div class="form-banner diep-sticky">
                            <div class="form-banner-bg">
                                <img src="./assets/images/chitiet-baiviet/form-lienhe.jpg" alt="form-lienhe">
                            </div>
                            <div class="form-lienhe">
                                <div class="form-lienhe-element">
                                    <div class="form-lienhe-text">Họ và tên <span class="red">*</span></div>
                                    <input class="lienhe-input" type="text">
                                </div>
                                <div class="form-lienhe-element">
                                    <div class="form-lienhe-text">Số điện thoại <span class="red">*</span></div>
                                    <input class="lienhe-input" type="number">
                                </div>
                                <div class="form-lienhe-element">
                                    <div class="form-lienhe-text">Nội dung cần tư vấn <span class="red"></span></div>
                                    <textarea name="" id="" cols="63" rows="4" maxlength="300"></textarea>
                                </div>
                                <button class="guithongtin-btn">
                                    <span class="guithongtin-text">GỬI THÔNG TIN</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <footer class="footer">
        <div class="container">
            <div class="footer-wr">
                <div class="footer-top">
                    <div class="footer-flex row gy">
                        <div class="footer-item col-3">
                            <div class="inner">
                                <p class="tt">
                                    Liên hệ với chúng tôi
                                </p>
                                <ul class="add">
                                    <li class="add-it">
                                        <span class="ic">
                                            <img src="./assets/images/ic-pin.svg" alt="">
                                        </span>
                                        <a href="" class="link">
                                            985/19 Âu Cơ, P. Tân Sơn Nhì, Q.Tân Phú, TP HCM
                                        </a>
                                    </li>
                                    <li class="add-it">
                                        <span class="ic">
                                            <img src="./assets/images/ic-ph.svg" alt="">
                                        </span>
                                        <a href="" class="link">
                                            0948 818 159
                                        </a>
                                    </li>
                                    <li class="add-it">
                                        <span class="ic">
                                            <img src="./assets/images/ic-mail.svg" alt="">
                                        </span>
                                        <a href="" class="link">
                                            atmedical242@gmail.com
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-item col-6">
                            <div class="footer-mid">
                                <div class="footer-logo">
                                    <a href="" class="logo-custom-link">
                                        <img src="./assets/images/logoft.png" alt="">
                                    </a>
                                </div>
                                <p class="desc">
                                    Công ty TNHH A&T Medical là đơn vị cung cấp các thiết bị Spa, thiết bị thẩm mỹ chính
                                    hãng. Qua nhiều năm hoạt động và phát triển cùng các quý khách hàng, A&T Medical tự
                                    hào là đơn vị uy tín, chất lượng, vận chuyển nhanh chóng
                                </p>
                                <div class="social">
                                    <a href="" class="social-link">
                                        <img src="./assets/images/ic-fb.svg" alt="">
                                    </a>
                                    <a href="" class="social-link">
                                        <img src="./assets/images/ic-yt.svg" alt="">
                                    </a>
                                    <a href="" class="social-link">
                                        <img src="./assets/images/ic-ins.svg" alt="">
                                    </a>
                                    <a href="" class="social-link">
                                        <img src="./assets/images/ic-tw.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="footer-item col-3">
                            <div class="inner">
                                <p class="tt">Về chúng tôi</p>
                                <ul class="menu-list">
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Về chúng tôi
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Sản phẩm
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Tuyển dụng
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Liên hệ
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Chính sách
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bot">
                    <div class="inner">
                        <span class="txt">
                            Thiết kế bởi
                        </span>
                        <div class="img">
                            <img src="./assets/images/Signature.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="popup" data-popup-id="search">
        <div class="popup-overlay">
        </div>
        <div class="popup-main popup-search-box">
            <div class="popup-main-wrapper">
                <div class="popup-over">
                    <div class="popup-wrapper">
                        <div class="popup-search">
                            <form action="">
                                <div class="popup-search-input">
                                    <input type="text" placeholder="Nhập từ khóa...">
                                    <button class="btn-pri">
                                        <span class="txt">Tìm kiếm</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-close">
                <i class="fas fa-times icon"></i>
            </div>
        </div>
    </div>
    <div class="back-to-top backToTop">
        <div class="circle">
            <div class="logo">

            </div>
            <div class="circle-txt">
                back to top - back to top - back to top -
            </div>
        </div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/splitting/splitting.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/library/gsap/gsap.min.js"></script>
    <script src="./js/library/ukiyo/ukiyo.min.js"></script>
    <script src="./js/library/gsap/ScrollTrigger.min.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>