<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Chi tiết tuyển dụng</title>
</head>

<body>
    <header class="header">

    </header>
    <main class="main">
        <section class="chitiet-tuyendung">
            <div class="container">
                <div class="chitietcongviec-text">Chi tiết công việc</div>
                <div class="chitiet-tuyendung-title">
                    <div>
                        <span class="tag-name">Fulltime</span>
                    </div>
                    <h3>Nhân viên tiếp thị sản phẩm</h3>
                </div>
                <div class="chitiet-tuyendung-inner">
                    <div class="chitiet-tuyendung-left">
                        <div class="chitiet-tuyendung-left-require">
                            <div class="require-1">
                                <div class="icon-require">
                                    <img src="./assets/images/chitiet-tuyendung/Dollar-Minimalistic.png" alt="">
                                </div>
                                <div class="text-require">
                                    <div class="text-require-top">Mức lương</div>
                                    <div class="text-require-bottom">30 - 40 triệu VNĐ</div>
                                </div>
                            </div>
                            <div class="require-2"></div>
                            <div class="require-3"></div>
                        </div>
                    </div>
                    <div class="chitiet-tuyendung-right"></div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">

    </footer>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>