<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Chi tiết tuyển dụng</title>
</head>

<body>
    <header class="header">

    </header>
    <main class="main">
        <div class="overlay"></div>
        <div class="popup-nophoso">
            <div class="popup-container">
                <div class="popup-nophoso-top">
                    <span class="popup-title">Nộp hồ sơ ứng tuyển</span>
                    <a id="closepopup" href="#">
                        <img src="./assets/images/chitiet-tuyendung/close.png" alt="">
                    </a>
                </div>
                <div class="popup-nophoso-position">
                    <div class="img">
                        <img src="./assets/images/chitiet-tuyendung/Rectangle402.png" alt="">
                    </div>
                    <div class="popup-nophoso-text-inner">
                        <div class="popup-nophoso-text-title">Nhân viên kinh doanh</div>
                        <div class="text-position">Địa điểm: <span class="bold">TP. Hồ Chí Minh</span></div>
                    </div>
                </div>
                <div class="form-lienhe">
                    <div class="form-lienhe-element">
                        <div class="form-lienhe-text">Họ và tên <span class="red">*</span></div>
                        <input class="lienhe-input" type="text">
                    </div>
                    <div class="form-lienhe-element">
                        <div class="form-lienhe-text">Email <span class="red">*</span></div>
                        <input class="lienhe-input" type="text">
                    </div>
                    <div class="form-lienhe-element">
                        <div class="form-lienhe-text">Số điện thoại <span class="red">*</span></div>
                        <input class="lienhe-input" type="number">
                    </div>
                    <div class="form-lienhe-element">
                        <div class="form-lienhe-text">Khu vực <span class="red">*</span></div>
                        <input class="lienhe-input" type="text">
                    </div>
                    <div class="form-lienhe-element">
                        <div class="form-lienhe-text">Tải CV từ thiết bị <span class="red"></span></div>
                        <a class="uploadcv-btn" href="#">
                            <span class="uploadcv-btn-text">Tải file</span>
                            <img src="./assets/images/chitiet-tuyendung/upload-icon.png" alt="">
                        </a>
                    </div>
                    <a class="guithongtin-btn" href="#">
                        <span class="guithongtin-text">GỬI THÔNG TIN</span>
                    </a>
                </div>
            </div>


        </div>
        
        <section class="chitiet-tuyendung">
            <div class="container">
                <div class="chitietcongviec-text">Chi tiết công việc</div>
                <div class="chitiet-tuyendung-title">
                    <div>
                        <span class="tag-name">Fulltime</span>
                    </div>
                    <h3>Nhân viên tiếp thị sản phẩm</h3>
                </div>
                <div class="chitiet-tuyendung-inner">
                    <div class="chitiet-tuyendung-left">
                        <div class="chitiet-tuyendung-left-require">
                            <div class="require-inner">
                                <div class="require">
                                    <div class="require-icon">
                                        <img src="./assets/images/chitiet-tuyendung/Dollar-Minimalistic.png" alt="">
                                    </div>
                                    <div class="require-text">
                                        <div class="require-text-top">Mức lương</div>
                                        <div class="require-text-bottom">30 - 40 triệu VNĐ</div>
                                    </div>
                                </div>
                            </div>
                            <div class="require-inner">
                                <div class="require">
                                    <div class="require-icon">
                                        <img src="./assets/images/chitiet-tuyendung/Map-Point-Wave.png" alt="">
                                    </div>
                                    <div class="require-text">
                                        <div class="require-text-top">Địa điểm làm việc</div>
                                        <div class="require-text-bottom">TP. Hồ Chí Minh</div>
                                    </div>
                                </div>
                            </div>
                            <div class="require-inner">
                                <div class="require">
                                    <div class="require-icon">
                                        <img src="./assets/images/chitiet-tuyendung/Hourglass-Line.png" alt="">
                                    </div>
                                    <div class="require-text">
                                        <div class="require-text-top">Yêu cầu kinh nghiệm</div>
                                        <div class="require-text-bottom">5 năm trở lên</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p class="chitiet-tuyendung-content">
                            <span class="bold">Lĩnh vực:</span> Thiết bị y tế thẩm mỹ công nghệ cao.<br><span
                                class="bold">Số lượng:</span> 05 bạn <br><span class="bold">Mô tả công việc:</span><br>-
                            Giới thiệu, tư vấn và bán các sản phẩm máy móc thiết bị thẩm mỹ do Công ty cung cấp đến
                            khách hàng.<br>- Lên kế hoạch kinh doanh theo định hướng phát triển của Công ty.<br>- Khai
                            thác, tiếp cận và chăm sóc khách hàng tại khu vực phân công.<br>- Đề xuất các sản phẩm và
                            chính sách kinh doanh phù hợp với khách hàng.<br>- Đạt mục tiêu bán hàng tháng, quý, năm,
                            tìm kiếm khách hàng mới và duy trì khách hàng cũ.<br>- Đề xuất các sáng kiến cải thiện hoạt
                            động kinh doanh.<br>- Phối hợp với kế toán thực hiện đốc thúc khách hàng trả nợ công nợ theo
                            quy định.<br> <br><span class="bold"></span>Yêu cầu:</span><br>- Ưu tiên ứng viên đã từng
                            làm NVKD, ưu tiên các ngành thiết bị y tế, thiết bị thẩm mỹ, mỹ phẩm...<br>- Trình độ Trung
                            cấp trở lên- Giao tiếp tốt, đam mê kinh doanh, có thể đi công tác<br> <span
                                class="bold">Quyền lợi:</span><br>- Thu nhập: Từ 15 – 25tr/tháng (trong đó: lương cứng
                            từ 6-8tr/tháng; lương thành tích theo doanh số tháng; hoa hồng kinh doanh).<br>- Tham gia
                            BHXH, lương tháng 13, du lịch, khám sức khỏe…<br>- Có phương tiện của công ty khi đi chuyển
                            giao công nghệ cho khách hàng.<br><br>Công ty chuyên môn hóa từng bộ phận, môi trường làm
                            việc thoải mái.<br><br><span class="bold">Thời gian, địa điểm làm việc:</span><br>🌴Thời
                            gian làm việc: Từ thứ 2 - Sáng T7<br>🌴Làm việc tại Tầng 09 Tòa Nhà 381 Đội Cấn, Ba Đình, Hà
                            Nội.<br><br><span class="bold">Thông tin Liên hệ :</span> <br> <span class="brand-text">A&T
                                Medical</span><br>Website: <a href="#">https://atmedical.vn/</a>
                        </p>

                        <div class="chitiet-tuyendung-btn">
                            <div class="chitiet-tuyendung-btn-inner">
                                <a id="openpopup" class="guithongtin-btn" href="#">
                                    <span class="guithongtin-text">Ứng tuyển ngay</span>
                                </a>
                            </div>
                            <div class="chitiet-tuyendung-btn-inner">
                                <a class="guithongtin-btn" href="#">
                                    <span class="guithongtin-text">Giới thiệu ứng viên</span>
                                </a>
                            </div>
                            <div class="chitiet-tuyendung-btn-inner">
                                <div class="share-social">
                                    <div class="share-text">Chia sẻ:</div>
                                    <a class="share-icon-social" href="#">
                                        <img src="./assets/images/chitiet-baiviet/icon-facebook.png"
                                            alt="icon-facebook">
                                    </a>
                                    <a class="share-icon-social" href="#">
                                        <img src="./assets/images/chitiet-baiviet/icon-twitter.png" alt="icon-twitter">
                                    </a>
                                    <a class="share-icon-social" href="#">
                                        <img src="./assets/images/chitiet-baiviet/icon-instagram.png"
                                            alt="icon-instagram">
                                    </a>
                                </div>
                            </div>

                        </div>

                        <a href="#" class="chitiet-tuyendung-backto-tuyendung">
                            <img src="./assets/images/chitiet-tuyendung/backto-tuyendung.png" alt="">
                            <span>Quay lại danh sách tuyển dụng</span>
                        </a>
                    </div>
                    <div class="chitiet-tuyendung-right">
                        <div class="chitiet-tuyendung-btn-right">
                            <div class="chitiet-tuyendung-btn-inner">
                                <a id="openpopup1" class="guithongtin-btn" href="#">
                                    <span class="guithongtin-text">Ứng tuyển ngay</span>
                                </a>
                            </div>
                            <div class="chitiet-tuyendung-btn-inner">
                                <a class="guithongtin-btn" href="#">
                                    <span class="guithongtin-text">Giới thiệu ứng viên</span>
                                </a>
                            </div>
                            <div class="chitiet-tuyendung-btn-inner">
                                <div class="share-social">
                                    <div class="share-text">Chia sẻ:</div>
                                    <a class="share-icon-social" href="#">
                                        <img src="./assets/images/chitiet-baiviet/icon-facebook.png"
                                            alt="icon-facebook">
                                    </a>
                                    <a class="share-icon-social" href="#">
                                        <img src="./assets/images/chitiet-baiviet/icon-twitter.png" alt="icon-twitter">
                                    </a>
                                    <a class="share-icon-social" href="#">
                                        <img src="./assets/images/chitiet-baiviet/icon-instagram.png"
                                            alt="icon-instagram">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="cohoinghenghiep">
                            <div class="cohoinghenghiep-heading">Cơ hội nghề nghiệp</div>
                            <div class="cohoinghenghiep-post">
                                <div class="cohoinghenghiep-img">
                                    <img src="./assets/images/chitiet-baiviet/Rectangle3463904-1.png"
                                        alt="Rectangle3463904-1">
                                </div>
                                <div class="cohoinghenghiep-title">NHân viên tiếp thị sản phẩm</div>
                                <a href="#"></a>
                            </div>
                            <div class="cohoinghenghiep-post">
                                <div class="cohoinghenghiep-img">
                                    <img src="./assets/images/chitiet-baiviet/Rectangle3463904-2.png"
                                        alt="Rectangle3463904-1">
                                </div>
                                <div class="cohoinghenghiep-title">NHân viên chăm sóc khách hàng</div>
                                <a href="#"></a>
                            </div>
                            <div class="cohoinghenghiep-post">
                                <div class="cohoinghenghiep-img">
                                    <img src="./assets/images/chitiet-baiviet/Rectangle3463904-3.png"
                                        alt="Rectangle3463904-1">
                                </div>
                                <div class="cohoinghenghiep-title">Giám đốc khối kinh doanh</div>
                                <a href="#"></a>
                            </div>
                            <div class="cohoinghenghiep-post">
                                <div class="cohoinghenghiep-img">
                                    <img src="./assets/images/chitiet-baiviet/Rectangle3463904-4.png"
                                        alt="Rectangle3463904-1">
                                </div>
                                <div class="cohoinghenghiep-title">Trường phòng nghiên cứu thị trường mới</div>
                                <a href="#"></a>
                            </div>
                            <div class="cohoinghenghiep-post">
                                <div class="cohoinghenghiep-img">
                                    <img src="./assets/images/chitiet-baiviet/Rectangle3463904-5.png"
                                        alt="Rectangle3463904-1">
                                </div>
                                <div class="cohoinghenghiep-title">Nhân viên thời vụ bán sản phẩm</div>
                                <a href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <footer class="footer">

    </footer>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>