<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Chi tiết bài viết</title>
</head>

<body>
    <header class="header">

    </header>
    <main class="main">
        <div class="f-breadcrumb">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item">
                            <a href="" class="breadcrumb-link">
                                Home
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="breadcrumb-link">
                                Tin tức
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <section class="chitiet-baiviet sc-pdb">
            <div class="container">
                <div class="chitiet-baiviet-inner">
                    <div class="chitiet-baiviet-left">
                        <div class="chitiet-baiviet-content">
                            <h2>Binary Premium - Tiên phong ứng dụng Công nghệ 5.0 trong nâng cao miễn dịch toàn diện</h2>
                            <div class="author">
                                <div class="author-datetime">09 Sep 2021</div>
                                <div class="author-dot"></div>
                                <div class="author-name">by<span class="bold"> Admin</span></div>
                            </div>
                            <div class="chitiet-baiviet-left-img">
                                <img src="./assets/images/chitiet-baiviet/Img.jpg" alt="">
                            </div>
                            
                            <p>Công nghệ triệt lông Diode là một phương pháp triệt lông bằng cách sử dụng tia laser có bước sóng từ 800nm đến 810nm. Đây là công nghệ được sử dụng rộng rãi trong các trung tâm làm đẹp, spa, phòng khám da liễu để loại bỏ tế bào tóc trên da.</p>
                            <h4>Công nghệ triệt lông Diode là gì?</h4>
                            <p>Công nghệ triệt lông Diode là một phương pháp triệt lông bằng cách sử dụng tia laser có bước sóng từ 800nm đến 810nm. Đây là công nghệ được sử dụng rộng rãi trong các trung tâm làm đẹp, spa, phòng khám da liễu để loại bỏ tế bào tóc trên da.</p>
                            
                            <div class="chitiet-baiviet-left-img">
                                <img src="./assets/images/chitiet-baiviet/image22.jpg" alt="">
                            </div>
        
                            <h4>Công nghệ Diode Lase ứng dụng trong điều trị gì?</h4>
                            <p>Công nghệ Diode Laser chủ yếu được sử dụng để triệt lông và làm đẹp da. Trong đó nó giúp loại bỏ tế bào tóc và điều trị một số vấn đề da. Công nghệ Diode Laser là một công nghệ hiệu quả và an toàn. Được sử dụng rộng rãi trong ngành thẩm mỹ và chăm sóc sức khỏe.</p>
        
                            <h4>Đánh giá</h4>
                            <p>Công nghệ Diode Laser là một trong những phương pháp triệt lông an toàn và hiệu quả nhất hiện nay. Được sử dụng rộng rãi trong các trung tâm làm đẹp, phòng khám da liễu, và các cơ sở chăm sóc sắc đẹp khác. Nó cũng được sử dụng để điều trị một số vấn đề da như nám, nếp nhăn, vết rạn da, vết thâm, và mụn. <span class="text-highlight">A&T Medical</span> là một công ty hàng đầu trong lĩnh vực phân phối các thiết bị sử dụng công nghệ Diode Laser. </p>
                            <p> Với đội ngũ chuyên gia giàu kinh nghiệm và sự cam kết về chất lượng. Các sản phẩm của chúng tôi được thiết kế để mang lại hiệu quả cao. Đáp ứng nhu cầu đa dạng của khách hàng. Chúng tôi cung cấp các sản phẩm máy diode laser chuyên dụng cho việc triệt lông.</p>
        
        
                            <div class="share-social">
                                <div class="share-text">Chia sẻ:</div>
                                <a href="" class="social-link">
                                    <img src="./assets/images/ic-fb.svg" alt="">
                                </a>
                                <a href="" class="social-link">
                                    <img src="./assets/images/ic-tw.svg" alt="">
                                </a>
                                <a href="" class="social-link">
                                    <img src="./assets/images/ic-ins.svg" alt="">
                                </a>
                            </div>

                            <div class="x-line"></div>

                            <div class="baivietlienquan sc-pdt">
                                <h3>Bài viết liên quan</h3>
                                
                                <div class="baivietlienquan-post">
                                    <div class="baivietlienquan-img">
                                        <img src="./assets/images/chitiet-baiviet/Thumbnail-1.jpg" alt="Thumbnail-1">
                                    </div>
                                    <div class="baivietlienquan-text">
                                        <h4>Triệt lông công nghệ ipl có tốt không?</h4>
                                        <div class="author">
                                            <div class="author-datetime">09 Sep 2021</div>
                                            <div class="author-dot"></div>
                                            <div class="author-name">by<span class="bold"> Admin</span></div>
                                        </div>
                                        <p class="baivietlienquan-preview">Triệt lông công nghệ ipl có tốt không? Triệt lông công nghệ IPL hiệu quả và được sử dụng rộng rãi trong ngành thẩm mỹ.</p>
                                    </div>
                                    <a href="#"></a>
                                </div>
                                <div class="baivietlienquan-post">
                                    <div class="baivietlienquan-img">
                                        <img src="./assets/images/chitiet-baiviet/Thumbnail-2.jpg" alt="Thumbnail-2">
                                    </div>
                                    <div class="baivietlienquan-text">
                                        <h4>Triệt lông công nghệ ipl có tốt không?</h4>
                                        <div class="author">
                                            <div class="author-datetime">09 Sep 2021</div>
                                            <div class="author-dot"></div>
                                            <div class="author-name">by<span class="bold"> Admin</span></div>
                                        </div>
                                        <p class="baivietlienquan-preview">Triệt lông công nghệ ipl có tốt không? Triệt lông công nghệ IPL hiệu quả và được sử dụng rộng rãi trong ngành thẩm mỹ.</p>
                                    </div>
                                    <a href="#"></a>
                                </div>
                                <div class="baivietlienquan-post">
                                    <div class="baivietlienquan-img">
                                        <img src="./assets/images/chitiet-baiviet/Thumbnail-3.jpg" alt="Thumbnail-1">
                                    </div>
                                    <div class="baivietlienquan-text">
                                        <h4>Triệt lông công nghệ ipl có tốt không?</h4>
                                        <div class="author">
                                            <div class="author-datetime">09 Sep 2021</div>
                                            <div class="author-dot"></div>
                                            <div class="author-name">by<span class="bold"> Admin</span></div>
                                        </div>
                                        <p class="baivietlienquan-preview">Triệt lông công nghệ ipl có tốt không? Triệt lông công nghệ IPL hiệu quả và được sử dụng rộng rãi trong ngành thẩm mỹ.</p>
                                    </div>
                                    <a href="#"></a>
                                </div>
                                <div class="baivietlienquan-post">
                                    <div class="baivietlienquan-img">
                                        <img src="./assets/images/chitiet-baiviet/Thumbnail-4.jpg" alt="Thumbnail-1">
                                    </div>
                                    <div class="baivietlienquan-text">
                                        <h4>Triệt lông công nghệ ipl có tốt không?</h4>
                                        <div class="author">
                                            <div class="author-datetime">09 Sep 2021</div>
                                            <div class="author-dot"></div>
                                            <div class="author-name">by<span class="bold"> Admin</span></div>
                                        </div>
                                        <p class="baivietlienquan-preview">Triệt lông công nghệ ipl có tốt không? Triệt lông công nghệ IPL hiệu quả và được sử dụng rộng rãi trong ngành thẩm mỹ.</p>
                                    </div>
                                    <a href="#"></a>
                                </div>
                                <div class="baivietlienquan-post">
                                    <div class="baivietlienquan-img">
                                        <img src="./assets/images/chitiet-baiviet/Thumbnail-5.jpg" alt="Thumbnail-1">
                                    </div>
                                    <div class="baivietlienquan-text">
                                        <h4>Triệt lông công nghệ ipl có tốt không?</h4>
                                        <div class="author">
                                            <div class="author-datetime">09 Sep 2021</div>
                                            <div class="author-dot"></div>
                                            <div class="author-name">by<span class="bold"> Admin</span></div>
                                        </div>
                                        <p class="baivietlienquan-preview">Triệt lông công nghệ ipl có tốt không? Triệt lông công nghệ IPL hiệu quả và được sử dụng rộng rãi trong ngành thẩm mỹ.</p>
                                    </div>
                                    <a href="#"></a>
                                </div>

                            </div>

                            <ul class="page-numbers">
                                <li>
                                    <a href="" class="prev page-numbers">
                                        <img src="./assets/images/chev-l.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <span class="page-numbers current">1</span>
                                </li>
                                <li>
                                    <a href="" class="page-numbers">2</a>
                                </li>
                                <li>
                                    <a href="" class="page-numbers">3</a>
                                </li>
                                <li>
                                    <a href="" class="next page-numbers">
                                        <img src="./assets/images/chev-r.svg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="chitiet-baiviet-right">
                        <div class="cohoinghenghiep sc-pdb">
                            <div class="cohoinghenghiep-heading">Cơ hội nghề nghiệp</div>
                            <div class="cohoinghenghiep-post">
                                <div class="cohoinghenghiep-img">
                                    <img src="./assets/images/chitiet-baiviet/Rectangle3463904-1.jpg" alt="Rectangle3463904-1">
                                </div>
                                <div class="cohoinghenghiep-title">NHân viên tiếp thị sản phẩm</div>
                                <a href="#"></a>
                            </div>
                            <div class="cohoinghenghiep-post">
                                <div class="cohoinghenghiep-img">
                                    <img src="./assets/images/chitiet-baiviet/Rectangle3463904-2.jpg" alt="Rectangle3463904-1">
                                </div>
                                <div class="cohoinghenghiep-title">NHân viên chăm sóc khách hàng</div>
                                <a href="#"></a>
                            </div>
                            <div class="cohoinghenghiep-post">
                                <div class="cohoinghenghiep-img">
                                    <img src="./assets/images/chitiet-baiviet/Rectangle3463904-3.jpg" alt="Rectangle3463904-1">
                                </div>
                                <div class="cohoinghenghiep-title">Giám đốc khối kinh doanh</div>
                                <a href="#"></a>
                            </div>
                            <div class="cohoinghenghiep-post">
                                <div class="cohoinghenghiep-img">
                                    <img src="./assets/images/chitiet-baiviet/Rectangle3463904-4.jpg" alt="Rectangle3463904-1">
                                </div>
                                <div class="cohoinghenghiep-title">Trường phòng nghiên cứu thị trường mới</div>
                                <a href="#"></a>
                            </div>
                            <div class="cohoinghenghiep-post">
                                <div class="cohoinghenghiep-img">
                                    <img src="./assets/images/chitiet-baiviet/Rectangle3463904-5.jpg" alt="Rectangle3463904-1">
                                </div>
                                <div class="cohoinghenghiep-title">Nhân viên thời vụ bán sản phẩm</div>
                                <a href="#"></a>
                            </div>
                        </div>

                        <div class="form-banner sticky">
                            <div class="form-banner-bg">
                                <img src="./assets/images/chitiet-baiviet/form-lienhe.jpg" alt="form-lienhe">
                            </div>
                            <div class="form-lienhe">
                                <div class="form-lienhe-element">
                                    <div class="form-lienhe-text">Họ và tên <span class="red">*</span></div>
                                    <input class="lienhe-input" type="text">
                                </div>
                                <div class="form-lienhe-element">
                                    <div class="form-lienhe-text">Số điện thoại <span class="red">*</span></div>
                                    <input class="lienhe-input" type="number">
                                </div>
                                <div class="form-lienhe-element">
                                    <div class="form-lienhe-text">Nội dung cần tư vấn <span class="red"></span></div>
                                    <textarea name="" id="" cols="63" rows="4" maxlength="300"></textarea>
                                </div>
                                <button class="guithongtin-btn">
                                    <span class="guithongtin-text">GỬI THÔNG TIN</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">

    </footer>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>