<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>
</head>

<body>
    <header class="header">

    </header>
    <main class="main">
        <div class="breadcrumb">
            <ul class="breadcrumb-list">
                <li class="breadcrumb-item">
                    <a href="#" class="breadcrumb-link">Trang chủ </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" class="breadcrumb-link">Liên hệ</a>
                </li>
            </ul>
        </div>
        <section class="chitiet-baiviet">
            <div class="container">
                <div class="chitiet-baiviet-left">
                    <div class="chitiet-baiviet-content">
                        <h2>Binary Premium - Tiên phong ứng dụng Công nghệ 5.0 trong nâng cao miễn dịch toàn diện</h2>
                        <div class="author">
                            <div class="author-datetime">09 Sep 2021</div>
                            <div class="author-dot"></div>
                            <div class="author-name">by<span class="bold"> Admin</span></div>
                        </div>
                        <div class="chitiet-baiviet-left-img">
                            <img src="./assets/images/chitiet-baiviet/Img.png" alt="">
                        </div>
                        
                        <p>Công nghệ triệt lông Diode là một phương pháp triệt lông bằng cách sử dụng tia laser có bước sóng từ 800nm đến 810nm. Đây là công nghệ được sử dụng rộng rãi trong các trung tâm làm đẹp, spa, phòng khám da liễu để loại bỏ tế bào tóc trên da.</p>
                        <h4>Công nghệ triệt lông Diode là gì?</h4>
                        <p>Công nghệ triệt lông Diode là một phương pháp triệt lông bằng cách sử dụng tia laser có bước sóng từ 800nm đến 810nm. Đây là công nghệ được sử dụng rộng rãi trong các trung tâm làm đẹp, spa, phòng khám da liễu để loại bỏ tế bào tóc trên da.</p>
                        
                        <div class="chitiet-baiviet-left-img">
                            <img src="./assets/images/chitiet-baiviet/image22.png" alt="">
                        </div>
    
                        <h4>Công nghệ Diode Lase ứng dụng trong điều trị gì?</h4>
                        <p>Công nghệ Diode Laser chủ yếu được sử dụng để triệt lông và làm đẹp da. Trong đó nó giúp loại bỏ tế bào tóc và điều trị một số vấn đề da. Công nghệ Diode Laser là một công nghệ hiệu quả và an toàn. Được sử dụng rộng rãi trong ngành thẩm mỹ và chăm sóc sức khỏe.</p>
    
                        <h4>Đánh giá</h4>
                        <p>Công nghệ Diode Laser là một trong những phương pháp triệt lông an toàn và hiệu quả nhất hiện nay. Được sử dụng rộng rãi trong các trung tâm làm đẹp, phòng khám da liễu, và các cơ sở chăm sóc sắc đẹp khác. Nó cũng được sử dụng để điều trị một số vấn đề da như nám, nếp nhăn, vết rạn da, vết thâm, và mụn. <span class="text-highlight">A&T Medical</span> là một công ty hàng đầu trong lĩnh vực phân phối các thiết bị sử dụng công nghệ Diode Laser. </p>
                        <p> Với đội ngũ chuyên gia giàu kinh nghiệm và sự cam kết về chất lượng. Các sản phẩm của chúng tôi được thiết kế để mang lại hiệu quả cao. Đáp ứng nhu cầu đa dạng của khách hàng. Chúng tôi cung cấp các sản phẩm máy diode laser chuyên dụng cho việc triệt lông.</p>
    
    
                        <div class="chitiet-baiviet-left-share">
                            <div class="share-text">Chia sẻ:</div>
                            <a class="icon-social" href="#">
                                <img src="./assets/images/chitiet-baiviet/icon-facebook.png" alt="icon-facebook">
                            </a>
                            <a class="icon-social" href="#">
                                <img src="./assets/images/chitiet-baiviet/icon-twitter.png" alt="icon-twitter">
                            </a>
                            <a class="icon-social" href="#">
                                <img src="./assets/images/chitiet-baiviet/icon-instagram.png" alt="icon-instagram">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="chitiet-baiviet-right">

                </div>
            </div>
        </section>
    </main>
    <footer class="footer">

    </footer>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>