<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Liên hệ</title>
</head>

<body>
    <header class="header">

    </header>
    <main class="main">
        <div class="f-breadcrumb">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item">
                            <a href="" class="breadcrumb-link">
                                Home
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="breadcrumb-link">
                                Liên hệ
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <section class="lienhe sc-pdb">
            <div class="container">
                <h4>Liên hệ</h4>
                <h2 class="lienhe-title">Vui lòng để lại thông tin, chúng tôi sẽ phản hồi trong thời gian sớm nhất</h2>

                <div class="lienhe-content">
                    <div class="lienhe-content-left">
                        <div class="company-text">Công ty TNHH A&T Medical</div>
                        
                        <div class="truso">
                            <div class="truso-title">Trụ sở chính</div>
                            <div class="truso-info"><span class="bold">Địa chỉ: </span><a href="">Số 985/19, đường Âu Cơ, P. Tân Sơn Nhì, Q.Tân Phú, TP. Hồ Chí Minh</a></div>
                            <div class="truso-info"><span class="bold">Hotline: </span><a href="tel:0948818159">0948 818 159</a></div>
                            <div class="truso-info"><span class="bold">Email: </span><a class="email" href="mailto:atmedical242@gmail.com">atmedical242@gmail.com</a></div>
                            <div class="xembando">
                                <div class="xembando-img">
                                    <img src="./assets/images/lienhe/point-on-map.png" alt="point-on-map">
                                </div>
                                <a class="xembando-text" href="#">Xem vị trí trên bản đồ
                                    <span class="xembando-underline"></span>
                                </a>
                            </div>
                        </div>
                        
                        <div class="truso">
                            <div class="truso-title">Cơ sở phụ</div>
                            <div class="truso-info"><span class="bold">Địa chỉ: </span><a href="">Số 985/19, đường Âu Cơ, P. Tân Sơn Nhì, Q.Tân Phú, TP. Hồ Chí Minh</a></div>
                            <div class="truso-info"><span class="bold">Hotline: </span><a href="tel:0948818159">0948 818 159</a></div>
                            <div class="truso-info"><span class="bold">Email: </span><a class="email" href="mailto:atmedical242@gmail.com">atmedical242@gmail.com</a></div>
                            <div class="xembando">
                                <div class="xembando-img">
                                    <img src="./assets/images/lienhe/point-on-map.png" alt="point-on-map">
                                </div>
                                <a class="xembando-text" href="#">Xem vị trí trên bản đồ
                                    <span class="xembando-underline"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="lienhe-content-right">
                        <div class="form-lienhe">
                            <div class="form-lienhe-element">
                                <div class="form-lienhe-text">Họ và tên <span class="red">*</span></div>
                                <input class="lienhe-input" type="text">
                            </div>
                            <div class="form-lienhe-element">
                                <div class="form-lienhe-text">Email <span class="red">*</span></div>
                                <input class="lienhe-input" type="text">
                            </div>
                            <div class="form-lienhe-element">
                                <div class="form-lienhe-text">Số điện thoại <span class="red">*</span></div>
                                <input class="lienhe-input" type="number">
                            </div>
                            <div class="form-lienhe-element">
                                <div class="form-lienhe-text">Khu vực <span class="red">*</span></div>
                                <input class="lienhe-input" type="text">
                            </div>
                            <div class="form-lienhe-element">
                                <div class="form-lienhe-text">Nội dung cần tư vấn <span class="red"></span></div>
                                <textarea name="" id="" cols="63" rows="4" maxlength="300"></textarea>
                            </div>
                            <button class="guithongtin-btn">
                                <span class="guithongtin-text">GỬI THÔNG TIN</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">

    </footer>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>