<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Tin tức</title>
</head>

<body>
    <header class="header">

    </header>
    <main class="main">
        <div class="breadcrumb">
            <ul class="breadcrumb-list">
                <li class="breadcrumb-item">
                    <a href="#" class="breadcrumb-link">Trang chủ</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" class="breadcrumb-link">Tin tức</a>
                </li>
            </ul>
        </div>
        <section class="tintuc">
            <div class="container">
                <div class="tintucnoibat">
                    <h3>Tin tức nổi bật</h3>

                    <div class="tintucnoibat-inner">
                        <div class="tintucnoibat-left">
                            <div class="tintucnoibat-content">
                                <div class="tintucnoibat-left-img">
                                    <img src="./assets/images/tintuc/Img.png" alt="">
                                </div>
                                <h2>Binary Premium - Tiên phong ứng dụng Công nghệ 5.0 trong nâng cao miễn dịch toàn diện</h2>
                                <div class="author">
                                    <div class="author-datetime">09 Sep 2021</div>
                                    <div class="author-dot"></div>
                                    <div class="author-name">by<span class="bold"> Admin</span></div>
                                </div>
                                <p>Đây là ba máy laser xóa xăm tốt nhất hiện nay. Máy có hiệu quả tốt hơn so với các sản phẩm khác ở cùng phân khúc gồm: Andy, Trisis, cplus ...</p>
                                
                                <a href="#" class="docthem-btn">
                                    <span>Đọc thêm</span> 
                                    <img src="./assets/images/tintuc/arrow-right.png" alt="arrow-right">
                                </a>
                            </div>
                        </div>
                        <div class="tintucnoibat-right">
                            <div class="tintucnoibat-right-post">
                                <div class="tintucnoibat-right-img">
                                    <img src="./assets/images/tintuc/Img-1.png" alt="Img-1">
                                </div>
                                <div class="tintucnoibat-right-text">
                                    <h4>Hướng dẫn điều trị nám bằng Laser dành cho SPA</h4>
                                    <div class="author">
                                        <div class="author-datetime">08 Sep 2021</div>
                                        <div class="author-dot"></div>
                                        <div class="author-name">by<span class="bold"> Mai Thy</span></div>
                                    </div>
                                    <div class="docthem-btn">
                                        <span>Đọc thêm</span> 
                                        <img src="./assets/images/tintuc/arrow-right.png" alt="arrow-right">
                                    </div>
                                </div>
                                <a href=""></a>
                            </div>
                            <div class="tintucnoibat-right-post">
                                <div class="tintucnoibat-right-img">
                                    <img src="./assets/images/tintuc/Img-2.png" alt="Img-2">
                                </div>
                                <div class="tintucnoibat-right-text">
                                    <h4>Máy laser xóa xăm tốt nhất hiện nay - Cập nhật 2023</h4>
                                    <div class="author">
                                        <div class="author-datetime">08 Sep 2021</div>
                                        <div class="author-dot"></div>
                                        <div class="author-name">by<span class="bold"> Mai Thy</span></div>
                                    </div>
                                    <div class="docthem-btn">
                                        <span>Đọc thêm</span> 
                                        <img src="./assets/images/tintuc/arrow-right.png" alt="arrow-right">
                                    </div>
                                </div>
                                <a href=""></a>
                            </div>
                            <div class="tintucnoibat-right-post">
                                <div class="tintucnoibat-right-img">
                                    <img src="./assets/images/tintuc/Img-3.png" alt="Img-3">
                                </div>
                                <div class="tintucnoibat-right-text">
                                    <h4>Mở spa nhỏ có cần giấy phép không? - cập nhật 2023</h4>
                                    <div class="author">
                                        <div class="author-datetime">08 Sep 2021</div>
                                        <div class="author-dot"></div>
                                        <div class="author-name">by<span class="bold"> Mai Thy</span></div>
                                    </div>
                                    <div class="docthem-btn">
                                        <span>Đọc thêm</span> 
                                        <img src="./assets/images/tintuc/arrow-right.png" alt="arrow-right">
                                    </div>
                                </div>
                                <a href=""></a>
                            </div>
                            <div class="tintucnoibat-right-post">
                                <div class="tintucnoibat-right-img">
                                    <img src="./assets/images/tintuc/Img-4.png" alt="Img-4">
                                </div>
                                <div class="tintucnoibat-right-text">
                                    <h4>Những vật dụng cần thiết khi mở spa là gì?</h4>
                                    <div class="author">
                                        <div class="author-datetime">08 Sep 2021</div>
                                        <div class="author-dot"></div>
                                        <div class="author-name">by<span class="bold"> Mai Thy</span></div>
                                    </div>
                                    <div class="docthem-btn">
                                        <span>Đọc thêm</span>
                                        <img src="./assets/images/tintuc/arrow-right.png" alt="arrow-right">
                                    </div>
                                </div>
                                <a href=""></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chitiet-baiviet-inner">
                    <div class="chitiet-baiviet-left">
                        <div class="chitiet-baiviet-content">
    
                            <div class="baivietlienquan">
                                <h3>Bài viết mới nhất</h3>
                                
                                <div class="baivietlienquan-post">
                                    <div class="baivietlienquan-img">
                                        <img src="./assets/images/chitiet-baiviet/Thumbnail-1.png" alt="Thumbnail-1">
                                    </div>
                                    <div class="baivietlienquan-text">
                                        <h4>Triệt lông công nghệ ipl có tốt không?</h4>
                                        <div class="author">
                                            <div class="author-datetime">09 Sep 2021</div>
                                            <div class="author-dot"></div>
                                            <div class="author-name">by<span class="bold"> Admin</span></div>
                                        </div>
                                        <p class="baivietlienquan-preview">Triệt lông công nghệ ipl có tốt không? Triệt lông công nghệ IPL hiệu quả và được sử dụng rộng rãi trong ngành thẩm mỹ.</p>
                                    </div>
                                    <a href="#"></a>
                                </div>
                                <div class="baivietlienquan-post">
                                    <div class="baivietlienquan-img">
                                        <img src="./assets/images/tintuc/thumb-2.png" alt="thumb-2">
                                    </div>
                                    <div class="baivietlienquan-text">
                                        <h4>Triệt lông công nghệ ipl có tốt không?</h4>
                                        <div class="author">
                                            <div class="author-datetime">09 Sep 2021</div>
                                            <div class="author-dot"></div>
                                            <div class="author-name">by<span class="bold"> Admin</span></div>
                                        </div>
                                        <p class="baivietlienquan-preview">Triệt lông công nghệ ipl có tốt không? Triệt lông công nghệ IPL hiệu quả và được sử dụng rộng rãi trong ngành thẩm mỹ.</p>
                                    </div>
                                    <a href="#"></a>
                                </div>
                                <div class="baivietlienquan-post">
                                    <div class="baivietlienquan-img">
                                        <img src="./assets/images/tintuc/thumb-3.png" alt="thumb-3">
                                    </div>
                                    <div class="baivietlienquan-text">
                                        <h4>Triệt lông công nghệ ipl có tốt không?</h4>
                                        <div class="author">
                                            <div class="author-datetime">09 Sep 2021</div>
                                            <div class="author-dot"></div>
                                            <div class="author-name">by<span class="bold"> Admin</span></div>
                                        </div>
                                        <p class="baivietlienquan-preview">Triệt lông công nghệ ipl có tốt không? Triệt lông công nghệ IPL hiệu quả và được sử dụng rộng rãi trong ngành thẩm mỹ.</p>
                                    </div>
                                    <a href="#"></a>
                                </div>
                                <div class="baivietlienquan-post">
                                    <div class="baivietlienquan-img">
                                        <img src="./assets/images/tintuc/thumb-4.png" alt="thumb-4">
                                    </div>
                                    <div class="baivietlienquan-text">
                                        <h4>Triệt lông công nghệ ipl có tốt không?</h4>
                                        <div class="author">
                                            <div class="author-datetime">09 Sep 2021</div>
                                            <div class="author-dot"></div>
                                            <div class="author-name">by<span class="bold"> Admin</span></div>
                                        </div>
                                        <p class="baivietlienquan-preview">Triệt lông công nghệ ipl có tốt không? Triệt lông công nghệ IPL hiệu quả và được sử dụng rộng rãi trong ngành thẩm mỹ.</p>
                                    </div>
                                    <a href="#"></a>
                                </div>
                                <div class="baivietlienquan-post">
                                    <div class="baivietlienquan-img">
                                        <img src="./assets/images/tintuc/thumb-5.png" alt="thumb-5">
                                    </div>
                                    <div class="baivietlienquan-text">
                                        <h4>Triệt lông công nghệ ipl có tốt không?</h4>
                                        <div class="author">
                                            <div class="author-datetime">09 Sep 2021</div>
                                            <div class="author-dot"></div>
                                            <div class="author-name">by<span class="bold"> Admin</span></div>
                                        </div>
                                        <p class="baivietlienquan-preview">Triệt lông công nghệ ipl có tốt không? Triệt lông công nghệ IPL hiệu quả và được sử dụng rộng rãi trong ngành thẩm mỹ.</p>
                                    </div>
                                    <a href="#"></a>
                                </div>
                                
    
                            </div>
                            
                        </div>
                    </div>
    
                    <div class="chitiet-baiviet-right">
                        <div class="cohoinghenghiep">
                            <div class="cohoinghenghiep-heading">Cơ hội nghề nghiệp</div>
                            <div class="cohoinghenghiep-post">
                                <div class="cohoinghenghiep-img">
                                    <img src="./assets/images/chitiet-baiviet/Rectangle3463904-1.png" alt="Rectangle3463904-1">
                                </div>
                                <div class="cohoinghenghiep-title">NHân viên tiếp thị sản phẩm</div>
                                <a href="#"></a>
                            </div>
                            <div class="cohoinghenghiep-post">
                                <div class="cohoinghenghiep-img">
                                    <img src="./assets/images/chitiet-baiviet/Rectangle3463904-2.png" alt="Rectangle3463904-1">
                                </div>
                                <div class="cohoinghenghiep-title">NHân viên chăm sóc khách hàng</div>
                                <a href="#"></a>
                            </div>
                            <div class="cohoinghenghiep-post">
                                <div class="cohoinghenghiep-img">
                                    <img src="./assets/images/chitiet-baiviet/Rectangle3463904-3.png" alt="Rectangle3463904-1">
                                </div>
                                <div class="cohoinghenghiep-title">Giám đốc khối kinh doanh</div>
                                <a href="#"></a>
                            </div>
                            <div class="cohoinghenghiep-post">
                                <div class="cohoinghenghiep-img">
                                    <img src="./assets/images/chitiet-baiviet/Rectangle3463904-4.png" alt="Rectangle3463904-1">
                                </div>
                                <div class="cohoinghenghiep-title">Trường phòng nghiên cứu thị trường mới</div>
                                <a href="#"></a>
                            </div>
                            <div class="cohoinghenghiep-post">
                                <div class="cohoinghenghiep-img">
                                    <img src="./assets/images/chitiet-baiviet/Rectangle3463904-5.png" alt="Rectangle3463904-1">
                                </div>
                                <div class="cohoinghenghiep-title">Nhân viên thời vụ bán sản phẩm</div>
                                <a href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">

    </footer>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>