@mixin textStyle() {
    color: #FFF;
    font-family: Noto Sans;
    font-style: normal;
}

.red {
    color: red;
}

.bold {
    font-weight: 700;
}

.lienhe {
    padding-bottom: 12rem;

    h4 {
        @include textStyle();
        padding-bottom: 1.6rem;
        text-align: center;
        font-size: 4.8rem;

        background: var(--linear-1, linear-gradient(90deg, #B66F29 0.37%, #DC9A27 27.52%, #EDB31F 52.76%, #D7942A 80.98%, #B06828 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h2 {
        @include textStyle();
        color: #FFF;
        text-align: center;
        font-size: 4.8rem;
    }

    &-content {
        display: flex;
        margin: -1.2rem;
        justify-content: center;

        &-left {
            padding: 1.2rem;
            width: (100% / 2);
        }

        &-right {
            padding: 1.2rem;
            width: (100% / 2);
            display: flex;
            justify-content: right;
        }
    }

    &-title {
        width: 103.6rem;
        max-width: 100%;
        margin: 0 auto;
        padding-bottom: 6rem;
    }

}

.form-lienhe {
    padding: 4.8rem 2.8rem;
    @include textStyle();
    width: calc(100% - 2.4rem);
    color: #052143;
    font-weight: 700;
    border-radius: 1rem;
    background: #FFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-element {
        padding: 1.6rem;
        padding-bottom: 4.4rem;
        width: (100% / 2);

        &:nth-child(5) {
            width: 100%;
            padding-bottom: 6rem;
        }
    }

    &-text {}

    input {
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 1px #DADADA solid;
        letter-spacing: 0.4px;

        &:focus {
            outline: none;
            border-width: 1px;
            border-image: linear-gradient(90deg, #B66F29 0.37%, #DC9A27 27.52%, #EDB31F 52.76%, #D7942A 80.98%, #B06828 100%);
            border-image-slice: 1;
            letter-spacing: 0.4px;

        }
    }

    textarea {
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 1px #DADADA solid;

        &:focus {
            outline: none;
            border-width: 1px;
            border-image: linear-gradient(90deg, #B66F29 0.37%, #DC9A27 27.52%, #EDB31F 52.76%, #D7942A 80.98%, #B06828 100%);
            border-image-slice: 1;

        }
    }



}

.guithongtin-btn {
    width: calc(100% - 3.2rem);
    outline: none;
    border-radius: 100px;
    border: 1px solid #B66F29;
    background: linear-gradient(113deg, #FFCA43 -39%, #FFBE4D 260.71%);
    text-align: center;
    padding: 1.6rem;
    margin: 0 auto;

    color: #052143;
    font-family: Noto Sans;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.88rem;

    &:hover {
        color: #FFBE4D;
        background: var(--Gradient-2, linear-gradient(315deg, #052449 -7.5%, #509AF2 222.87%));
        border: 1px solid #052143;
    }

}

.company-text {
    font-size: 2.4rem;
    line-height: 2.6rem;
}



.truso {
    @include textStyle();
    padding-top: 3.2rem;
    font-size: 1.6rem;

    &-title {
        padding-bottom: 1.2rem;
        font-weight: 700;
        background: var(--Gradient-1, linear-gradient(90deg, #FFAF61 0.37%, #DC9A27 27.52%, #EDB31F 52.76%, #D7942A 80.98%, #B06828 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-info {
        padding-bottom: 0.8rem;
    }

    &:last-child {
        padding-top: 6.2rem;
        padding-bottom: 3.2rem;
    }

    a:hover {
        color: #00A3FF;
    }
}

.email {
    @include textStyle();
    color: #00A3FF;
    font-family: Inter;
    font-size: 1.6rem;
    letter-spacing: 0.128px;
    text-decoration-line: underline;

    &:hover {
        color: #fff !important;
    }
}

.xembando {
    padding-top: 1rem;
    display: flex;
    gap: 0.9rem;

    &-img {
        width: 2.512rem;
        height: 2.4rem;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-text {
        position: relative;
        @include textStyle();
        font-size: 1.6rem;
        line-height: 2.88rem;

        background: var(--Gradient-1, linear-gradient(90deg, #FFAF61 0.37%, #DC9A27 27.52%, #EDB31F 52.76%, #D7942A 80.98%, #B06828 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &:hover {
            background: #00A3FF;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &-underline {
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0.4rem;
        z-index: 1;

        background-image: linear-gradient(90deg, #FFAF61 0.37%, #DC9A27 27.52%, #EDB31F 52.76%, #D7942A 80.98%, #B06828 100%);
    }
}

@media screen and (max-width: 841px) {
    .lienhe-content {
        flex-wrap: wrap;
        margin: unset;

        &-left {
            width: 100%;
            padding: unset;
        }

        &-right {
            width: 100%;
            padding: unset;

            .form-lienhe {
                width: 100%;

                &-element {
                    width: 100%;
                }
            }
        }
    }

    .company-text {
        text-align: center;
    }

    h4,
    h2 {
        font-size: 3.2rem;
    }


}