h3 {
    padding-bottom: 2rem;
    color: #FFF;
    font-family: Noto Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.9rem;
}

.tintuc {
    h2 {
        text-align: left;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.6rem;

        @include lineClame;
        background: var(--Gradient-1, linear-gradient(90deg, #FFAF61 0.37%, #DC9A27 27.52%, #EDB31F 52.76%, #D7942A 80.98%, #B06828 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h4 {
        padding-bottom: 1.5rem;
        text-align: left;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.6rem;

        background: var(--Gradient-1, linear-gradient(90deg, #FFAF61 0.37%, #DC9A27 27.52%, #EDB31F 52.76%, #D7942A 80.98%, #B06828 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        margin-bottom: 1.8rem;
        color: #CCC;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.6rem;
        @include lineClame;
    }

    .tintucnoibat {
        padding-bottom: 6rem;

        &-inner {
            margin: 0 -1.2rem;
            @include flex;
        }

        .author {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            width: 100%;
            color: #CCC;
            font-family: Noto Sans;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.4rem;
            @include flex(center, unset);
            gap: 1.2rem;

            &-dot {
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                background-color: #C4C4C4;
                // @include max(833px){
                //     display: none;
                // }
            }

            // @include max(833px){
            //     flex-direction: column;
            //     align-items: unset;
            // }
        }

        &-left {
            width: calc(100% / 2);
            max-width: 100%;
            padding: 0 1.2rem;

            &-content {
                width: 100%;
            }


            &-img {
                width: 100%;
                border-radius: 0.5rem;
                padding-bottom: 2rem;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        &-right {
            width: calc(100% / 2);
            padding: 0 1.2rem;

            &-post {
                position: relative;
                padding-bottom: 2.4rem;
                width: 100%;
                @include flex(center, unset);
                gap: 1.6rem;
                cursor: pointer;

                @include max(419px) {
                    padding-bottom: .8rem;
                    gap: .6rem;
                }

                a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                &:hover h4 {
                    background: #FFF;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            &-img {
                width: 19rem;
                border-radius: 0.5rem;

                @include max(419px) {
                    width: 15rem;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }


            &-text {
                flex: 1;

                h4 {
                    @include lineClame(2);

                    @include max(434px) {
                        font-size: 1.5rem;
                    }

                    padding-bottom: unset;
                }

                .author {
                    @include max(434px) {
                        font-size: 1.2rem;
                        padding: 0;
                        padding-top: .5rem;
                        padding-bottom: 1rem;
                    }

                    @include max(347px) {
                        flex-direction: column;
                        align-items: start;
                        font-size: 1rem;

                        &-dot {
                            display: none;
                        }

                        gap: 0;
                        padding-top: .1rem;
                        padding-bottom: .2rem;
                    }
                }

                p {
                    color: #CCC;
                    font-family: Noto Sans;
                    font-size: 1.4rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 2.1rem;
                }
            }
        }



    }

    .docthem-btn {
        @include flex(center, unset);
        gap: 0.8rem;

        span {
            color: #0068FF;
            text-align: center;
            font-family: Noto Sans;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.4rem;

            @include max(434px) {
                font-size: 1.2rem;
            }
        }

        img {
            width: 2rem;
            height: 2rem;
        }
    }
}

.baivietlienquan {
    h3 {
        padding-bottom: 2rem;
        color: #FFF;
        font-family: Noto Sans;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.9rem;
    }


    &-post {
        position: relative;
        padding-bottom: 3rem;
        width: 100%;
        @include flex(center, unset);

        @include max(434px) {
            gap: 1rem;
            padding-bottom: 1rem;
        }

        gap: 1.6rem;
        cursor: pointer;

        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &:hover h4 {
            background: #FFF;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    }

    &-img {

        width: 21rem;
        border-radius: 0.5rem;

        @include max(434px) {
            width: 15rem;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-text {
        flex: 1;

        h4 {
            @include lineClame(2);

            @include max(434px) {
                font-size: 1.5rem;
            }

            padding-bottom: unset;
        }

        .author {
            @include max(434px) {
                font-size: 1.2rem;
                padding: 0;
                padding-top: .5rem;
                padding-bottom: 1rem;
            }

            @include max(347px) {
                flex-direction: column;
                align-items: start;
                font-size: 1rem;

                &-dot {
                    display: none;
                }

                gap: 0;
                padding-top: .1rem;
                padding-bottom: .2rem;
            }
        }

        p {
            @include lineClame(2);

            @include max(637px) {
                margin-bottom: 0rem;
            }

            @include max(434px) {
                font-size: 1.2rem;
            }

            color: #CCC;
            font-family: Noto Sans;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2.1rem;
        }
    }
}

@media screen and (max-width: 1200px) {
    .tintucnoibat {
        &-left {
            padding: 0 1.6rem;
        }

        &-right {
            padding: 0 1.6rem;
        }
    }
}

@media screen and (max-width: 833px) {
    .tintucnoibat {
        padding-bottom: 2rem !important;

        &-inner {
            flex-direction: column;
        }

        &-left {
            width: 100% !important;
            padding: unset;

            &-img {
                padding-bottom: 0;
            }
        }

        &-right {
            width: 100% !important;
            padding: unset;
            padding-top: 2rem !important;
        }
    }
}