.popup {
    position: fixed;
    @include full;
    z-index: 80;
    visibility: hidden;

    &.open {
        visibility: visible;

        .popup-overlay {
            opacity: 1;
            visibility: visible;
        }

        .popup-main {
            opacity: 1;
            visibility: visible;
        }
    }

    &-overlay {
        position: absolute;
        background-color: rgba($color: $color-black, $alpha: 0.8);
        @include full;
        z-index: 1;
        @include transitionRe;
        opacity: 0;
        visibility: hidden;
        // backdrop-filter: blur(0.3rem)
    }

    &-main {
        @include mid;
        z-index: 2;
        width: 90rem;
        max-height: 90vh;
        max-width: 95%;
        @include transitionRe;
        opacity: 0;
        visibility: hidden;
        position: relative;
        border-radius: 1.6rem;
        border-radius: 1rem;
        &-wrapper {
            overflow: hidden;
            border-radius: 1rem;
        }
        &.med {
            width: 90rem;
        }

        &.small {
            width: 80rem;
        }
    }

    &-over {
        overflow-y: auto;
        min-height: 40vh;
        max-height: 80vh;
    }
    &-wrapper {
        background-color: $color-pri;
        width: 100%;
        min-height: 40vh;
        position: relative;
        padding: 2rem;
    }

    &-title {
        @include fz-24;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 1.6rem;
    }

    &-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        transition: 0.6s ease-in-out;
        width: 3rem;
        height: 3rem;
        border-radius: 100rem;
        @include mid-flex;
        background-color: $color-pri;
        z-index: 100;

        &:hover {
            .icon {
                transform: rotate(360deg);
            }
        }

        .icon {
            color: $color-white;
            font-weight: 300;
            font-size: 2.4rem;
            @include transition(0.6s, ease-in-out);

            @include max(800px) {
                @include fz-16;
            }
        }
    }

    &-search {
        width: 100%;
        padding: 1rem;

        &-box {
            width: 40rem;

            .popup-over {
                max-height: 90vh;
            }
        }

        &-input {
            &::before {
                content: '';
                background-image: url("../assets/images/model.png");
                @include default-background;
                width: 20rem;
                height: 20rem;
                display: block;
                margin: auto;
                margin-bottom: 1rem;
            }

            &.active {
                &::before {
                    display: none;
                }
            }

            input {
                width: 100%;
                transition: 0.4s;
                padding: 1rem 1.6rem;
                border-radius: 100rem;
                border: 0.1rem solid $color-pri;
            }

            .btn {
                width: 100%;
                border-radius: 100rem;
                margin-top: 1rem;
                justify-content: center;
                height: auto;
            }
        }

        position: relative;

        .search-rs {
            top: 27rem !important;
            z-index: 20 !important;
            position: unset !important;
            max-height: 42rem !important;

            .submit-search {
                margin: auto;
                margin-top: 3rem;
                padding: 0.5rem 1rem;
                background-color: $color-pri;
                color: $color-white;
                @include mid-flex;
            }
        }

        .mona-search-form {}
    }
}