.btn {
    @include flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    padding: 4rem 2rem;
    flex-shrink: 0;
    // border-radius: 1.2rem;
    height: 4.8rem;
    width: fit-content;
    overflow: hidden;
    clip-path: $ellipse;
    min-width: 15rem;
    img {
        position: relative;
        z-index: 3;
    }

    .icon {
        width: 2rem;
        height: 2rem;
        position: relative;
        z-index: 3;
        margin-top: -0.2rem;
        flex-shrink: 0;

        &:first-child {
            margin-right: 0.8rem;
        }

        &:last-child {
            margin-left: 0.8rem;
        }

        img {
            width: inherit;
            height: inherit;
        }

        i {
            transition: 0.4s;
        }
    }
    &.center {
        margin: auto;
        margin-top: 2rem;
    }
    .txt {
        color: $color-white;
        line-height: 1;
        z-index: 3;
        @include fz-16;
        position: relative;
        display: block !important;
        white-space: nowrap;
        transition: 0.4s;
        text-transform: uppercase;
    }

    &::after {
        content: "";
        position: absolute;
        width: 110%;
        height: 110%;
        top: 0;
        left: 0;
        z-index: 2;
        transform: scaleY(0);
        transform-origin: bottom right;
        transition: transform 0.5s ease;
    }

    @include min($res-mobile-min) {
        @include hover {
            &::after {
                transform: scale(1);
                transform-origin: top right;
            }
        }
    }

    &-pri {
        @extend .btn;
        background: $color-pri;

        &::after {
            background: $linear;
        }

        .txt {
            color: $color-white;
        }

        .icon {
            i {
                color: $color-white;
            }
            img {
                filter: brightness(0) invert(1);
            }
        }

        @include hover {
            .txt {
                color: $color-pri;
            }

            .icon {
                i {
                    color: $color-pri
                }
                img {
                    filter:$filter;
                }
            }
        }
    }
    &-bdg {
        @extend .btn;
        background: $color-black;
        .btn-inner {
            clip-path: inherit;
            @include full(0.1rem,0.1rem,0.1rem,0.1rem);
            position: absolute;
            background-color: $color-white;
        }
        &::after {
            background: $color-text;
        }

        .txt {
            color: $color-text;
        }

        .icon {
            i {
                color: $color-white;
            }
        }

        @include hover {
            .txt {
                color: $color-white;
            }

            .icon {
                i {
                    color: $color-pri
                }
                img {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
    &-bdb {
        @extend .btn;
        background: $color-pri;
        .btn-inner {
            clip-path: inherit;
            @include full(0.1rem,0.1rem,0.1rem,0.1rem);
            position: absolute;
            background-color: $color-white;
        }
        &::after {
            background: $color-text;
        }

        .text {
            color: $color-white;
            position: relative;
            z-index: 3;
            text-transform: uppercase;
        }

        .icon {
            i {
                color: $color-white;
            }
            img {
                filter: brightness(1) invert(1);
            }
        }

        @include hover {
            .text {
                color: $color-white;
            }

            .icon {
                i {
                    color: $color-pri
                }
                img {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
}

.info-see {
    @include mid-flex;
    color: $color-pri;
    width: fit-content;

    i {
        transition: 0.4s;
        margin-top: -0.1rem;
    }

    .txt {
        font-weight: 700;
        margin-top: 0rem;
        transition: 0.4s;

        &:last-child {
            margin-left: 0.8rem;
        }

        &:first-child {
            margin-right: 0.8rem;
        }
    }

    @include hover {
        i {
            transform: rotate(360deg);
            color: #DCA200;
        }

        .txt {
            color: #DCA200;
        }
    }
}

.bd-ln {
    position: relative;
    width: fit-content;
    display: grid;
    place-items: center;
    padding: 0.1rem;
    &::before {
        content: "";
        position: absolute;
        @include full(0,0,0,0);
        padding: 0.1rem;
        background: $linear;
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
    }
}