.btn {
    @include flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    padding: 1rem 2rem;
    flex-shrink: 0;
    border-radius: 100rem;
    height: 4rem;
    width: fit-content;
    overflow: hidden;
    min-width: 15rem;
    img {
        position: relative;
        z-index: 3;
    }

    .icon {
        width: 2rem;
        height: 2rem;
        position: relative;
        z-index: 3;
        margin-top: -0.2rem;
        flex-shrink: 0;

        &:first-child {
            margin-right: 0.8rem;
        }

        &:last-child {
            margin-left: 0.8rem;
        }

        img {
            width: inherit;
            height: inherit;
        }

        i {
            transition: 0.4s;
        }
    }
    &.center {
        margin: auto;
        margin-top: 2rem;
    }
    .txt {
        color: $color-white;
        z-index: 3;
        @include fz-16;
        position: relative;
        display: block !important;
        white-space: nowrap;
        transition: 0.4s;
        font-weight: 700;
    }

    &::after {
        content: "";
        position: absolute;
        width: 110%;
        height: 110%;
        top: 0;
        left: 0;
        z-index: 2;
        transform: scaleY(0);
        transform-origin: bottom right;
        transition: transform 0.5s ease;
    }

    @include min($res-mobile-min) {
        @include hover {
            &::after {
                transform: scale(1);
                transform-origin: top right;
            }
        }
    }

    &-pri {
        @extend .btn;
        background: $linear;
        border: 0.1rem solid $color-pri;
        &::after {
            background: $color-second;
        }

        .txt {
            background:linear-gradient(315deg, #052449 -7.5%, #509AF2 222.87%);
            @include txt-ln;
        }

        .icon {
            i {
                color: $color-white;
            }
        }

        @include hover {
            .txt {
                color: $color-pri;
            }

            .icon {
                i {
                    color: $color-pri
                }
            }
        }
    }
    &-bd {
        @extend .btn;
        background:transparent;

        &::after {
            background: linear-gradient(90deg, rgba(182, 111, 41, 0.10) 0.37%, rgba(220, 154, 39, 0.10) 27.52%, rgba(237, 179, 31, 0.10) 52.76%, rgba(215, 148, 42, 0.10) 80.98%, rgba(176, 104, 40, 0.10) 100%);
        }

        .txt {
            background:$linear;
            @include txt-ln;
        }

        .icon {
            i {
                color: $color-white;
            }
        }

        @include hover {
            .txt {
                color: $color-pri;
            }

            .icon {
                i {
                    color: $color-pri
                }
            }
        }
    }
}

.info-see {
    @include mid-flex;
    color: $color-pri;
    width: fit-content;

    i {
        transition: 0.4s;
        margin-top: -0.1rem;
    }

    .txt {
        font-weight: 700;
        margin-top: 0rem;
        transition: 0.4s;

        &:last-child {
            margin-left: 0.8rem;
        }

        &:first-child {
            margin-right: 0.8rem;
        }
    }

    @include hover {
        i {
            transform: rotate(360deg);
            color: #DCA200;
        }

        .txt {
            color: #DCA200;
        }
    }
}

.bd-ln {
    position: relative;
    width: fit-content;
    display: grid;
    place-items: center;
    padding: 0.2rem;
    &::before {
        content: "";
        position: absolute;
        @include full(0,0,0,0);
        padding: 0.2rem;
        background: $linear;
        border-radius: 100rem;
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
    }
}