.page-numbers {
    @include flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
    margin-top: 1.6rem;
    >li {
        &:not(:first-child) {
            margin-left: 8px;
        }
        &>.page-numbers {
            width: 4.4rem;
            height: 4.4rem;
            border-radius: 100rem;
            @include mid-flex;
            background-color: transparent;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            color: $color-white;
            font-size: 1.6rem;
            transition: 0.4s;
            @include affter($linear);
            &:after {
                z-index: -1;
            }
            @include max(1200px) {
                width: 3rem;
                height: 3rem;
                font-size: 1.4rem;
            }
            @include hover {
                &:not(.dot) {
                    color: $color-white;
                    &::after {
                        left: 0;
                        width: 100%;
                    }
                }
                img {
                    filter: brightness(0) invert(1);
                }
            }
            &.current {
                color: $color-second;
                font-weight: 400;
                &::after {
                    left: 0;
                    // width: 100%;
                }
            }
            &.dot {
                background-color: transparent;
            }
            &.next {
                color: $color-pri;
                border: 0.1rem solid $color-second;
                img {
                    transform: translateX(-0.1rem);
                }
            }
            &.prev {
                color: $color-pri;
                border: 0.1rem solid $color-second;
                img {
                    transform: translateX(0.1rem);
                }
            }
            i {
                font-weight: 400;
            }
        }
    }
}