.swiper-slide {
    height: initial;
    overflow: hidden;
}

.swiper-pagination {
    position: static;
    margin-top: 1.6rem;

    &-bullet {
        --circle: -1rem;
        background-color: #293D55;
        opacity: 0.5;
        position: relative;
        margin: 0 calc(-1*var(--circle)) !important;
        width: 4rem;
        height: 0.4rem;
        border-radius: 0;

        &-active {
            background: $linear;
            opacity: 1;

            &::before {
                opacity: 1;
            }
        }
    }
}

.swiper-control {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    --size: 4rem;

    @include max(1250px) {
        --size: 2.5rem;
    }

    .swiper-next {
        img {
            transform: translateX(-0.1rem);
        }
    }

    &-btn {
        width: var(--size);
        height: var(--size);
        border-radius: 100rem;
        @include mid-flex;
        cursor: pointer;
        @include transitionRe;
        z-index: 5;
        position: relative;
        overflow: hidden;
        font-size: 1.6rem;
        @include affter($linear);
        border: 0.1rem solid $color-second;

        img {
            filter: brightness(0) invert(1);
        }

        &::after {
            width: 100%;
        }

        >* {
            position: relative;
            z-index: 2;
        }

        &.swiper-button-disabled {
            background: $color-opa-white-02;
            cursor: default;
            box-shadow: none;
            img {
                filter: none;
            }
            &::after {
                width: 0;
            }

            i {
                color: $color-pri;
            }
        }

        i {
            color: $color-white;
        }

        @include hover {
            &:not(.swiper-button-disabled) {
                color: white;

                &::after {
                    left: 0;
                    width: 100%;
                }

                i {
                    color: $color-white
                }
            }
        }
    }

    &.posi {
        .swiper-control-btn {
            @include posi-vertical;
        }

        &.minus {
            .swiper-prev {
                right: calc(100% + 4rem);
            }

            .swiper-next {
                left: calc(100% + 4rem);
            }
        }

        &.midle {
            .swiper-prev {
                left: calc(var(--size) / 2 * -1);
            }

            .swiper-next {
                right: calc(var(--size) / 2 * -1);
            }
        }

        &.plus {
            .swiper-prev {
                left: 1rem;
            }

            .swiper-next {
                right: 1rem;
            }
        }


        &.mobile-midle-plus {
            @include max(1350px) {
                .swiper-prev {
                    left: 1rem;
                    right: unset;
                }

                .swiper-next {
                    right: 1rem;
                    left: unset;
                }
            }
        }

        &.verti {
            .swiper-prev {
                left: 50%;
                transform: translate(-50%, -50%);
                top: 0;
            }

            .swiper-next {
                left: 50%;
                transform: translate(-50%, 50%);
                top: unset;
                bottom: 0;
            }
        }
    }

    .line {
        width: 0.1rem;
        height: 2.4rem;
        background-color: $color-pri;
    }

}

.swiper-pagination-progressbar {
    background: #E9E9E9;
    height: .1rem !important;
}

.swiper-pagination-progressbar-fill {
    background-color: #B1151B !important;
    opacity: 0.5;
}

// 
.rows {
    --col-gap: 2.4rem;
    --row-gap: 2.4rem;
    margin: 0 calc(var(--col-gap) / 2 * -1);

    @include max(1200px) {
        --col-gap: 1.5rem;
    }
}

.cols {
    padding: 0 calc(var(--col-gap)/2);
}

.swiper.rows {
    .col {
        margin-bottom: 0;
    }
}

.swiper-container {
    overflow: hidden;
}